html,body{
    font-family: sans-serif;
    background-color: blue;
    color:aqua


}

h1{

    background-color: rgb(150, 214, 214);
    text-align: center;
    color: dimgray;
    font-family: Franklin Gothic Me'diun', 'Ariel', sans-serif;
    height: 120px;
    width: 700px;
    font-size: 30px;
    margin-left: 55;
}

h2{
    background-color: rgb(219, 219, 165);
    margin: 20px;
}

p{
    background-color: rgb(93, 167, 142);
    padding-bottom: 50px;
}
#stilo1{

    background-color: crimson;

}
.stilo2{

    background-color: rgb(168, 47, 71);
    font-size: 40px;

}

P{
   background-color: rgb(182, 124, 236); 

}
  



