*{
margin: Opx;
padding: Opx;

}

h1{
     background-color: rgb(66, 20, 109);
}

.stilo{
    background-color:rgb(28, 7, 150);

}
.contendo{
     background-color: rgb(46, 29, 143);
    height: 30px;
}
.conteudo p{
      background-color: rgb(19, 50, 109);

}
.conteudo #titulo{
       font-size:50px;

}
p{
   background-color: darkorchid;

}
#txt{

     
    background-color: darkslategrey;


}